@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Montserrat&family=Noto+Sans+KR&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.cont {
    display: grid;
    grid-template-columns:  1fr 2fr;
    max-width: 960px;
    margin: 60px auto;
    padding:  0 30px;
}

.side_menu form {
    padding: 20px;
    background-color: royalblue;
    border-radius: 10px;
}

.side_menu fieldset {
    border: none;
}

.side_menu legend {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}



.side_menu input {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.side_menu label {
    display: block;
    margin: 20px auto;
    color: #fff;
}

.side_menu textarea {
    height: 200px;
    width: 100%;
    border-radius: 5px;
}

.side_menu button {
    display:  block;
    width: 100%;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.content_list {
    border: 4px solid #f2f2f2;
    padding: 0;
    margin: 0 0 0 30px;
    /* background-color: aqua; */
    /* margin: 0; */
}

.content_list li {
    border: 1px solid #f2f2f2;
    box-shadow: 3px 3px 5px rgba(50, 50, 50, .1);
    padding: 30px;
    position: relative;
    border-left: 4px solid royalblue;
}

.content_list li + li {
    margin: 30px 0;
}

.content_list .title {
    font-size: 1.5em;
}

.content_list .text {
    font-size: 1.3em;
}

.content_list button {
    position: absolute;
    top:0;
    right: 0;;
    background-color: royalblue;
    border: none;
    color: #fff;
    padding: 12px 8px;
}

@media (max-width: 600px) {

    nav {
        display: block;
        height: 150px;
    }

    h1 {
        width: 50%
    }

    .cont {
        display: block;
        margin: 10px;
        padding: 10px;
    }

    .side_menu form {
        padding:20px;
        height: 40%;
    }
    
    .side_menu legend {
        margin: 5px 0 5px 0;
    }

    .side_menu label {
        margin: 5px 0 5px 0;
        display: block;
    }

    .side_menu textarea {
        height: 50px;
        display: block;
    }
}